.col-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-image {
  height: 350px;
}
.bg-color-about {
  background-color: #e8f6f8;
}
.map {
  display: flex;
  justify-content: center;
}
.contact-list-group li {
  text-align: justify;
  margin: 0 auto;
}

@media (min-width: 760px) {
  .user-input {
    width: 50%;
  }
}
@media (max-width: 992px) {
  .contact-row {
    display: flex;
    flex-direction: column;
  }
}
